%container {
	@include outer-container;
	max-width: 100%;

	@include media(min-width $tablet-min max-width $tablet-max, 12) {
		
	}

	@include media(min-width $desktop-min, 12) {
		
	}
}

main {
	@extend %container;
}

header {
	@extend %container;
}

.header__title {
	@include span-columns(12);
}

.hero {
	@extend %container;
}

.hero__context {
	@include span-columns(12);
}

.hero__subhead {
	@include span-columns(12);
}

.hero__header {
	@include span-columns(12);
}

.health,
.feed {
	@extend %container;
}

.health__wrapper {
	@include span-columns(12);

	@include media(min-width $tablet-min, 12) {
		@include span-columns(8);
		@include shift(2);
		max-width: 60rem;
	}
}

.feed__wrapper {
	@include span-columns(12);

	@include media(min-width $tablet-min, 12) {
		@include span-columns(8);
		@include shift(2);
		max-width: 60rem;
	}
}

.health__image,
.feed__image {
	@include span-columns(12);

	@include media(min-width $tablet-min, 12) {
		@include span-columns(3 of 6);
	}
}

.health__explanation,
.feed__explanation {
	@include span-columns(12);

	@include media(min-width $tablet-min, 12) {
		@include span-columns(3 of 6);
	}
}
