header {
	padding: $half-spacing-unit;
}

.header__title {
	&::before {
		content: '';
		display: block;
		background: url('assets/evoo__logo.svg');
		background-repeat: no-repeat;
		height: 2rem;
		width: 2.1875rem;
		margin: 0 auto;
	}

	font-family: $base-font-family;
	font-weight: $base-font-heavy;
	text-align: center;
	@include font-size($milli);
	margin: 0;
}

.hero {
	background: url('assets/essentials.png') no-repeat center center;
	background-size: cover;
	min-height: 25rem;
	position: relative;

	@include media(min-width $tablet-min, 12) {
		min-height: 35rem;
	}

}

.hero__context {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero__header {
	@extend %sans-serif-heavy;
	color: white;
	@include font-size($delta);
	text-align: center;
	text-transform: uppercase;
	margin: 0;

	span {
		@extend %sans-serif-light;
	}

	&::after {
		content: '';
		height: 1px;
		background: $white;
		width: 12rem;
		margin: 0.7rem auto 0;
		display: block;
		opacity: 0.6;
	}
}

.hero__subhead {
	color: white;
	@include font-size($epsilon);
	text-align: center;
	font-weight: $base-font-light;
	margin-top: 0.7rem;
}

.health,
.feed {
	@extend %grey-content-section;
	overflow: hidden;
}

.health__image {
	text-align: center;
	margin-top: $triple-spacing-unit;
}

.feed__image {
	margin: $double-spacing-unit 0 0;
}

.health__image-figure {
	max-width: 11.3125rem;
}

.feed__image-figure {
	max-width: 16.8125rem;
	margin-bottom: -$double-spacing-unit;
}

.feed__image-phone {
	position: relative;
	text-align: center;
	line-height: 0;
}

.feed__image-gesture {
  background: $red;
  height: 1.25rem;
  width: 1.25rem;
  margin: 60px auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);

  -webkit-animation-name: slide;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
}

.health__explanation,
.feed__explanation {
	margin-top: $double-spacing-unit;
	margin-bottom: $triple-spacing-unit;
	@include font-size($milli);
	opacity: 0.8;
}

.feed__explanation {
	@include media(min-width $tablet-min, 12) {
		margin-top: 30%;
	}
}

.health__explanation-heading,
.feed__explanation-heading {
	@extend %explanation-headings;
}